.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 4rem;
    position: fixed;
    width: 100%;
    background-color: #fff;
    top: 3.5rem;
    z-index: 99;
}
.logo{
    color:#000;
    font-size: 2.3rem;
    font-weight: 400;
    letter-spacing: 0.4rem;
}
.logo span{
    font-weight: 400;
    color: #0651dc;
}

.navbar ul{
    display: flex;
    list-style: none;
}
.navbar ul li a{
    display: inline-block;
    margin: 0 2rem;
    font-size: 1.7rem;
    color:#000;
    text-decoration: none;
}

.navbar ul li a.active{
    color:#F0A202;
}